* {
    box-sizing: content-box;
}

a[href] {
    text-decoration: none;
    color: #0070FF;
}

a:hover[href] {
    color: #063877;
}

a h2 {
    color: #000;
}


html, body {
    height: 100%;
}

.main {
    height: 100%;
    width: 100%;
    display: table;
}

.wrapper {
    display: table-cell;
    height: 100%;
    vertical-align: middle;
}

body {
    background-image: url(https://www.eldarya.es/static/img/design/background-night.jpg);
    background-size: cover;
    background-attachment: fixed;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0;
    font-family: 'Alegreya Sans', sans-serif;
    text-align: left;
    line-height: 1.3em;
}

#container {
    width: 850px;
    background-color: #ffffff;
    margin: auto;
    padding: 0px 80px 0 80px;
    border-right: 1px solid #cccccc;
    border-left: 1px solid #cccccc;
    box-shadow: 1px 0 20px #dddddd;
    position: relative;
    display: table;
    height: 100%;
}

#header {
    font-family: 'Alegreya Sans SC', sans-serif;
    width: 100%;
    text-align: center;
    font-size: 20px;
    border-bottom: 1px solid #ccc;
}

#menu-list {
    list-style: none;
    display: inline-block;
    padding-left: 0;
}

#menu-list li {
    display: inline-block;
    padding: 0 15px;
    border-bottom: 1px solid #fff;
    cursor: pointer;
}

#menu-list li:hover {
    /*border-bottom: 1px solid #000;*/
    text-decoration: underline;
}

#menu-list a {
    color: #000;
}

#menu-list li span {
    font-size: 18px;
}

#library-menu {
    border-left: 1px solid #ddd;
}

#pet-menu-child, 
#alchemy-menu-child, 
#library-menu-child, 
#maps-menu-child {
    position: absolute;
    padding: 0;
    display: block;
    width: min-content;
    background: #fff;
    text-align: left;
    z-index: 1;
    box-shadow: 0px 0px 5px #ddd;
}

#pet-menu-child li, #alchemy-menu-child li, #library-menu-child li, #maps-menu-child li {
    border-bottom: 1px solid #eee;
    margin: 0 10px;
    background: #fff;
    padding: 5px 0;
    width: 100px;
}

#pet-menu-child li:nth-last-child(1), #alchemy-menu-child li:nth-last-child(1), #library-menu-child li:nth-last-child(1), #maps-menu-child li:nth-last-child(1) {
    border-bottom: 0;
}

#content {
    /*padding:15px 0;*/
}


/* ------------------------------------- */
/* ------------------------------------- */

#card-container {
    overflow-y: scroll;
    width: 850px;
    position: absolute;
    margin: auto;
    top: 170px;
    bottom: 20px;
}

#card-list {
    list-style: none;
    padding: 0;
    display: inline-block;
    position: relative;
    width: 100%;
    margin: 0;
}

#card-list.pet {
    display: table;
    width: 98%;
    margin: 0 auto;
}
.card-item {
    border: 1px solid #ddd;
    width: 32%;
    height: 110px;
    border-radius: 10px;
    box-shadow: 2px 2px 2px #aaa;
    float: left;
    display: flex;
    margin: 4px;
    cursor: pointer;
    transition: all 500ms;
}

.card-item:hover {
    background-color: #f0fbff;
}

.pet .card-item {
    width: 126px;
    display: grid;
    height: 150px;
}

.abstract-icon {
    margin: 5px;
    position: relative;
    height: 100px;
    width: 100px;
}

.pet .abstract-icon{
    margin: auto;
}

.abstract-icon img {
    width: 100px;
    height: 100px;
}

.abstract-info {
    width: 100%;
    padding: 5px;
    position: relative;
    font-size: 15px;
    line-height: 1.35em;
    overflow: auto;
    display: table;
    height: 100px;
}

.pet .abstract-info {
    height: auto;
    width: auto;
}

.abstract-middle {
    vertical-align: middle;
    display: table-cell;
}

.abstract-name {
    font-family: 'Alegreya Sans SC';
    font-size: 18px;
    border-bottom: 1px solid #ddd;
}

.pet .abstract-name {
    border: none;
}

.rarity-marker-common, .rarity-marker-rare, .rarity-marker-epic, .rarity-marker-legendary, .rarity-marker-event, .anim-marker {
    border-width: 25px 25px 0px 0px;
    border-style: solid;
    position: absolute;
    height: 0;
    width: 0;
    margin-top: -1px;
    margin-left: -1px;
}

.rarity-marker-common {
    border-color: #aaa transparent transparent transparent;
}

.rarity-marker-rare {
    border-color: #1f6cff transparent transparent transparent;   
}

.rarity-marker-epic {
    border-color: #e04cff transparent transparent transparent;
}

.rarity-marker-legendary {
    border-color: #f2b82f transparent transparent transparent;
}

.rarity-marker-event {
    border-color: #58d700 transparent transparent transparent;
}

.map-location-preview {
    color: rgb(104, 168, 241);
    text-decoration: underline;
    cursor: pointer;
}

#map-preview-container {
    background: #000000d6;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display:none;
}

#map-preview-content {
    width: 800px;
    margin: auto;
    position: relative;
    top: 50px;
}

#map-preview-title {
    text-align: center;
    color: #fff;
    font-family: 'Alegreya Sans SC', sans-serif;
    font-size: 25px;
    padding: 10px;
}

#map-preview-locations {
    height: 450px;
    position: relative;
}

.map11 {
    /* Ciudad de Eel - The Origins */
    background-image: url(https://www.eldarya.es/assets/img/minigames/treasurehunt/a48bbc4e4849745ebe6dbcf5313eb3f0.jpg);
}

.map12 {
    /* Costa de Jade - The Origins */
    background-image: url(https://www.eldarya.es/assets/img/minigames/treasurehunt/ae496f5aef3648aa2d13900f952b64ca.jpg);
}

.map13 {
    /* Templo Fenghuang - The Origins */
    background-image: url(https://www.eldarya.es/assets/img/minigames/treasurehunt/2a0a48d5156f8be0189d0e55c8716e2f.jpg);
}

.map21 {
    /* Ciudad de Eel - New Era */
    background-image: url(https://www.eldarya.es/assets/img/minigames/treasurehunt/5b94deef75f83a860076e790cf5537a0.jpg);
}

.map22 {
    /* Montañas Genkaku */
    background-image: url(https://www.eldarya.es/assets/img/minigames/treasurehunt/a18ea87c9ed86e3e8162ddcd63220d9a.jpg);
}

.map23 {
    /* Ciudad Terrestre */
    background-image: url(https://www.eldarya.es/assets/img/minigames/treasurehunt/6d4b75327c3b4431a72a888ac6070824.jpg);
}

.map-location {
    position: absolute;
    background: url(https://www.eldarya.es/static/img/new-layout/pet/icons/picto_map.png);
    width: 54px;
    height: 59px;
    transform: translate(-15px, -23px);
    transition: opacity ease-in-out 400ms;
    z-index: 1;
    cursor: pointer;
}


/* Mapas */
#map-section {
    min-height: 600px;
}

#map-menu-container {
    text-align: center;
    margin: 5px;
}

.map-menu-option {
    margin: 20px;
    cursor: pointer;
}

.map-menu-option.selected, .map-menu-option:hover {
    color: #5c89df;
}

#map-container {
    height: 450px;
    width: 800px;
    position: relative;
    margin: 20px auto;
}

.tooltip {
    background: #ffffffe0;
    width: 250px;
    padding: 10px;
    border: 1px solid #999;
    border-radius: 8px;
    position: relative;
    transform: translateX(-40%);
    display:none;
}

.map-name {
    width: 100%;
    display: block;
    text-align: center;
    border-bottom: 1px solid #bbb;
    padding-bottom: 5px;
    margin-bottom: 5px;
}

.tooltip img {
    width: 50px;
}

.title-bait, .title-food, .title-eggs, .title-clothes, .title-alchemy, .title-scrolls {
    display: block;
    width: 100%;
}

#filter-category-selector {

}

#filter-alchemy-type {
    display: none;
}
#filter-pet-type {
    display: none;
}

#popup-outer {
    display: table;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.8);
    top: 0;
    display: none;
    position: fixed;
    z-index: 5;
}

#popup-medium {
    display: table-cell;
    vertical-align: middle;

}

#popup-inner {
    background-color: #fff;
    margin-left: auto;
    margin-right: auto;
    width: 0;
    height: 300px;
    transition: 500ms;
    padding: 25px;
    background-image: url("./assets/img/card-bg.png");
    border: 2px dashed;
    background-repeat: round;
    box-shadow: 3px 3px 3px #222;
    position: relative;
    overflow: hidden;
}

#popup-inner.open {
    width: 600px;
    height: 300px;
}

#popup-content {
    position: absolute;
    width: 600px;
    height: 300px;
}

#first-line, #second-line, #third-line {
    position: relative;
    width: 100%;
    float: left;
}

#first-line img {
    background: #fff;
    box-shadow: 2px 2px 10px #999;
    width: 100px;
}

#first-left {
    float: left;
    width: 100px;
    height: 100px;
}

#first-right {
    float: left;
    width: calc(100% - 115px);
    margin-left: 15px;
}

.pet #second-line span {
    text-align: center;
}

.pet-image {
    max-height: 142px;
    max-width: 180px;
    margin: 0 20px;
}

.pet-image.baby {
    max-height: 100px;
}

#popup-inner span {
    width: 100%;
    display: block;
    line-height: 25px;
}

#popup-inner .rarity {
    margin-top: -7px;
    position: relative;
    text-align: center;
    font-size: 11px;
    font-family: Consolas;
    padding: 0;
    box-shadow: 2px 2px 10px #999;
    line-height: 18px;
}

.rarity.common {background-color: #aaa;}
.rarity.rare {background-color: #1f6cff;}
.rarity.epic {background-color: #e04cff;}
.rarity.legendary {background-color: #f2b82f;}
.rarity.event {background-color: #58d700;}

.rarity.common::after {content: "COMÚN";}
.rarity.rare::after {content: "RARO";}
.rarity.epic::after {content: "ÉPICO";}
.rarity.legendary::after {content: "LEGENDARIO";}
.rarity.event::after {content: "EVENTO";}

.pet .rarity {
    width: 100px !important;
    display: inline-block !important;
    top: -4px !important;
    margin-right: 8px;
}

#second-left, #second-middle, #second-right {
    width: 30%;
    display: inline-block;
}

#second-middle {
    width: 40%;
}

.maana-section, .mo-section {
    width: 30% !important;
    display: inline-block !important;
    text-align: center;
    padding: 0 !important;
}

.maana-section img, .mo-section img {
    width: 15px;
    top: 2px;
    position: relative;
    left: 3px;
}

.location-point {
    width: 70px;
    height: 70px;
    border: 1px solid;
    display: inline-block;
    margin: 15px 2px;
    border-radius: 50%;
}