.unselected-option {
	color: #999;
	text-align: center;
	width: 100%;
	position: relative;
	display: inline-block;
}

.chapter-images {
	display: inline-block;
	position: relative;
}

.image-container {
	width: auto;
	height: 230px;
	display: flex;
	margin: 0 10px;
	float: left;
}

.ch-image {
	max-height: 200px;
	max-width: 200px;
	margin: auto 10px;
	border: 4px solid #fff;
	box-shadow: 0px 0px 10px;
}

.ch-image:hover {
	cursor: pointer;
	transform: scale(1.1);
	transition: all 200ms;
	box-shadow: 0px 0px 5px;
}

.ch-image.missing {
	width: 200px;
	height: 135px;
	background: url(https://www.eldarya.es/static/img/new-layout/library/pictures/lock.png) center no-repeat, url(https://www.eldarya.es/static/img/new-layout/library/locked-illu.jpg);
	background-size: 30px, cover;
	text-align: center;}

#popup-inner-img {
	transition: 500ms;
	position: absolute;
	top: 10px;
	bottom: 10px;
	left: 10px;
	right: 10px;
	overflow: auto;
}

#popup-image {
	position: relative;
	margin: auto;
	height: 100%;
	width: auto;
	display: block;
}